<% if @recycling_center.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@recycling_center.errors.count, "error") %>
      prohibited this recycling center from being added to the list:
    </h2>

    <ul>
    <% @recycling_center.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
