// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "recycling_center";

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

body {
  background: #92d666;
}

.main-title {
  text-align: center;
  a {
    color: #51789E; 
    &:hover {
      text-decoration: none;
    }
}
}
